@model Vendedores_MVC.Models.ViewModels.IndexRegistroVendaViewModel
@{
    ViewData["Title"] = "Registro de Venda";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="CreateOrEdit" class="btn btn-dark">Novas Vendas</a>
</p>
<h2>Busca Por Data</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaSimples">
            <fieldset>
                <legend>Busca Simples</legend>
                <div class="form-group">
                    <label for="dataInicial" class="col-lg-2 control-label">Data Inicial</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataInicial" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="dataFinal" class="col-lg-2 control-label">Data Final</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataFinal" class="form-control" />
                    </div>
                </div>
                <div class="form-group" style="padding-top:5px">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaAgrupada">
            <fieldset>
                <legend>Busca Agrupada</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Data Inicial</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataInicial" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Data Final</label>
                    <div class="col-lg-10">
                        <input type="date" name="dataFinal" class="form-control" />
                    </div>
                </div>
                <div class="form-group" style="padding-top:5px">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaPorVendedor">
            <fieldset>
                <legend>Busca Por Vendedor</legend>
                <div class="form-group">
                    <label asp-for="IdVendedor" class="control-label">Vendedor:</label>
                    <select name="IdVendedor" asp-items="@(new SelectList(Model.Vendedores, "Id", "Nome"))" class="form-control"></select>
                </div>
                <div class="form-group" style="padding-top:5px">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
